	#nate-img-container{
		width: 100%;
		height:50%;
		overflow: hidden;
		margin:auto;
		background: url("graffiti.jpg") no-repeat 0 0;
		background-position: 20% 30%;
	}


	#nate-img-container{
		width: 100%;
		height: 50%;
		overflow: hidden;
		margin:auto;
		background: url("graffiti.jpg") no-repeat 0 0;
		background-position: 20% 45%;
	}


