#output {
	margin: auto;
	background-color: black;
	color: #33FF5E;
	text-align: left;
}

#input {
	display: block;
	margin: auto;
	background-color: black;
	color: #33FF5E;
}

.user-input {
	text-color: red;
}